  <!-- top navigation -->
  <div class="top_nav">
    <div class="nav_menu">
      <nav>
          <h1 style="margin-top: 10px; margin-bottom: 0px; margin-left: 15px; float: left;"> <mat-icon>camera</mat-icon> Prueba IoIp  </h1>
        <ul class="nav navbar-nav navbar-right">
          <li class="">
            <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                <img src="assets/images/img.jpg" alt=""> <strong> Daniel Yepes</strong>
              <span class=" fa angle-down"></span>
            </a>
            <ul class="dropdown-menu dropdown-usermenu pull-right">
              <li><a href="javascript:;"> Mi Cuenta</a></li>
              <li>
                <a href="javascript:;">
                  <span>Configuracion</span>
                </a>
              </li>
              <li><a href="javascript:;">Ayuda</a></li>
              <li>
                <a href="#">
                  <mat-icon>sign-out pull-right</mat-icon> Cerrar Sesion
                </a>
              </li>
            </ul>
          </li>

          <li role="presentation" class="dropdown">
            <a href="javascript:;" class="dropdown-toggle info-number" data-toggle="dropdown" aria-expanded="false">
              <mat-icon>envelope-o</mat-icon>
              <span class="badge bg-green">3</span>
            </a>
            <ul id="menu1" class="dropdown-menu list-unstyled msg_list" role="menu">
              <li>
                <a>
                  <span class="image"><img src="assets/images/img.jpg" alt="Profile Image" /></span>
                  <span>
                    <span>Puntos SAST</span>
                    <span class="time">hace 3 minutos</span>
                  </span>
                  <span class="message">
                      Certificado de calibración # 1234567891 - abril 23 de 2019
                  </span>
                </a>
              </li>
              <li>
                <a>
                  <span class="image"><img src="assets/images/img.jpg" alt="Profile Image" /></span>
                  <span>
                    <span>Rango comparendos</span>
                    <span class="time">hace 10 minutos</span>
                  </span>
                  <span class="message">
                      Resolucion 1234567891 - 100 disponibles
                  </span>
                </a>
              </li>
              <li>
                <a>
                  <span class="image"><img src="assets/images/img.jpg" alt="Profile Image" /></span>
                  <span>
                    <span>Comparendera # 1</span>
                    <span class="time">hace 1 hora</span>
                  </span>
                  <span class="message">
                      SAST 1 - 50 disponibles
                  </span>
                </a>
              </li>
              <li>
                <div class="text-center">
                  <a>
                    <strong>Ver todas las alertas</strong>
                    <mat-icon>angle-right</mat-icon>
                  </a>
                </div>
              </li>
            </ul>
          </li>
        </ul>
      </nav>
    </div>
</div>
  <!-- /top navigation -->
