.Complete-Logo {
    float: left;
    /*display: -webkit-inline-box;*/
    display: contents;
    font-weight: 600;
}

.Menubar {
    float: right;
}

.App-header {
    flex-direction: row !important;
    /*justify-content: flex-start !important;
    min-height: 3vh;*/
    height: 50px !important;
}